<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-45EkiPG6h_toxKGGdx5ZEtykosvNgQM</string>
	<key>GCM_SENDER_ID</key>
	<string>926099001713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitApp</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-5918b</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-5918b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926099001713:ios:4e88477bca29aea687a6d0</string>
</dict>
</plist>